.about{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:60px;
    margin:70px 10%;
}
.title-box{
    position:relative;
}

.title-box h1{
    padding:0px 30px;
    font-size:60px;
    font-weight:600;
}

.title-box img{
    width:160px;
    position:absolute;
    bottom:0;
    right:0;
    z-index:-1;
}

.about-section{
    display:flex;
    gap:60px;
}

.about-left{
    flex:0 0 300px;
    width:300px;
    height:550px;
    max-width:100%;
    border-radius:10px;
    overflow:hidden;
}

.about-left img{
    display:block;
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:50% 40%;;

}


.about-right{
    display:flex;
    flex-direction:column;
    gap:50px;
}

.about-para {
    display:flex;
    flex-direction:column;
    gap:15px;
    font-size:18px;
    font-size:500;

}

.about-skills{
    display:flex;
    flex-direction:column;
    gap:16px;
}

.about-skill{
    display:flex;
    gap:20px;
    align-items:center;
    transition:0.3s;
}

.about-skill:hover{
 transform: scale(1.05);
  transition:0.3s;
    
}

.about-skill p{
    min-width:130px;
    font-size:20px;
    font-weight:500;
}

.about-skill hr{
    outline:none;
    border:none;
    width:50%;
    height:8px;
    border-radius:50px;
    background:linear-gradient(270deg, #DF8908 10%, #B415FF 100%);
}

@media(max-width:768px){
   .about{
    gap:80px;
    margin:50px 70px;
    align-items:start;
    
   } 

   .about h1{
    font-size:50px;
    padding:0;
   }
   .about img{
    width:130px;
    right:-20px;
   }
   .about-section{
    flex-direction:column;

   }
   .about-left{
    display:none;
   }
   .about-para{
    font-size:18px;
    line-height:32px;
   }
   .about-skill{
    gap:20px;
    align-items:center;
   }
   .about-skill p{
    font-size:20px;

   }

   .about-skill hr{
    height:6px;
    
   }
}