.footer{
    display:flex;
    justify-content:space-between;
    font-size:16px;
    margin-top:15px;
}

.footer-right{
    display:flex;
    gap:30px;
    margin-bottom:10px;
}

@media(max-width:768px){
    .footer{
        margin:50px 70px;
    }
    .footer-bottom{
        display:flex;
        flex-direction:column-reverse;
        margin-bottom:50px;
    }
}