/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */
*{
    padding : 0px;
    margin: 0px;

}

body{
    height: 100vh;
    /* color: #F5F5F5;
     */
     color: white;
    background-color: black;
    font-family:'outfit';
}

.cursor{
     height:20px;
    width:20px;
    background-color:white;
    border-radius:50%;
    position:fixed;
    font-size:5px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    z-index:9999;
    pointer-events:none;
}

.main{
    min-height:100vh;
}
.cursor-text{
    color:black;
    font-weight:600;
}